/* Responsive styles */
@media screen and (max-width: 600px) {
  #menu-list {
    flex-direction: column;
  }
}

/* Regular styles */
#menu-container {
  max-width: 80%;
  margin: 0 auto;
}

#menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#menu-list li {
  flex-basis: calc(48% - 20px);
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#menu-list h2 {
  margin-top: 0;
}

#menu-list p {
  margin-bottom: 5px;
}

#cart-container {
  margin-top: 30px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#cart-container h2 {
  margin-top: 0;
}

#cart-items li {
  margin-bottom: 10px;
}

#checkout-btn {
  display: block;
  margin-top: 10px;
}

.quantity-input {
  width: 50px;
}
